<!DOCTYPE html>
<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link href="/storesListStyle.css" rel="stylesheet" />
  <title>Chickpea API</title>
</head>

<body>
  <div id="api-landing-page">
    <div id="header">
      <h1>Chickpea API Test</h1>
    </div>

    <div id="link-list">
      <ul>
        <li><a href="/register">Sign Up Page</a></li>
        <li><a href="/login">Login Page</a></li>
        <li><a href="/stores">Stores Test Page</a></li>
      </ul>
    </div>
  </div>
</body>
