<!DOCTYPE html>
<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link href="/storesListStyle.css" rel="stylesheet" />
  <title>Chickpea API</title>
</head>

<body>
  <div id="api-landing-page">
    <div id="header">
      <h1>Chickpea API Endpoints</h1>
      <p style="font-size: x-large; font-weight: 400;">
        This page was created as a reference for anyone who works on the <a href="https://github.com/NicCas/CS-4800-Legumes-LTE-Frontend" target="_blank">frontend side of our CS 4800 project</a>.
        It lists out the current routes/API endpoints that the frontend can make requests to. It also lists what
        each route generally does, what needs to be passed to them, and what to expect as a response from them.
      </p>
    </div>
    <div id="link-list">
      <h2>/register</h2>
      <ul>
        <li>
          /register/sign-up (POST request)
          <ul>
            <li>does not need authentication in our server to access</li>
            <li>registers a new customer into our database if they do not exist</li>
            <li>for now, expects 4 parameters in the request body: username, password, 
              name, email</li>
            <li>upon successful registration, the server sends back a message to the client 
              saying "successfully registered your account."</li>
          </ul>
        </li>
      </ul>
      <h2>/login</h2>
      <ul>
        <li>
          /login/attempt (POST request)
          <ul>
            <li>does not need authentication in our server to access</li>
            <li>authenticates a customer based on the credentials they provided</li>
            <li>expects 2 parameters in the request body: username, password</li>
            <li>upon successful authentication the server will send <b>true</b> 
              and create a cart session object, and it will send <b>false</b> otherwise. 
              a cookie will be set on the client browser too</li>
          </ul>
        </li>
        <li>
          /login/logout (GET request)
          <ul>
            <li>does not need authentication in our server to access, but that may change</li>
            <li>logs out a customer provided that they are logged in</li>
          </ul>
        </li>
      </ul>
      <h2>/stores</h2>
      <ul>
        <li>
          /stores (GET request)
          <ul>
            <li>does not need authentication in our server to access</li>
            <li>sends back the list of stores from our database in a container like an array</li>
          </ul>
        </li>
        <li>
          /stores/detail (POST request)
          <ul>
            <li>does not need authentication in our server to access</li>
            <li>expects 1 parameter in the request body: store_id</li>
            <li>given a particular store_id, it sends back a list of items
              associated with the store, as well as its details like its name,
              address, rating, etc.
            </li>
            <li>items are accessed via res.data.items, and the store information 
              is accessed via res.data.store
            </li>
            <li>items are indexed by their category name, e.g. res.data.items["Pantry"]
              will return a list of Pantry items for that store
            </li>
          </ul>
        </li>
      </ul>
      <h2>/cart</h2>
      <ul>
        <li>
          /cart (GET request)
          <ul>
            <li><b>requires authentication in our server to access</b></li>
            <li>returns a list of items based on what is set on the customer's session cart
            </li>
            <li>in addition to the fields defined in our items schema, each
              item has a field attached to it that holds the name of the store
              it comes from (Store_Name) and a field for quantities (Quantity)
            </li>
          </ul>
        </li>
        <li>
          /cart/add (POST  request)
          <ul>
            <li><b>requires authentication in our server to access</b></li>
            <li>expects 2 parameters in the request body: Item_ID and Quantity</li>
            <li>
              creates an item object of the format {Item_ID:, Quantity:} and adds
              it to the user's existing session cart
            </li>
            <li>
              if the item is already in the cart, the Quantity specified by the request
              will be added to the item's existing Quantity value
            </li>
          </ul>
        </li>
        <li>
          /cart/remove (POST  request)
          <ul>
            <li><b>requires authentication in our server to access</b></li>
            <li>expects 1 parameter in the request body: Item_ID</li>
            <li>
              removes the item in the session cart with the specified Item_ID
            </li>
          </ul>
        </li>
      </ul>
      <h2>/user</h2>
      <ul>
        <li>
          /user (GET request)
          <ul>
            <li>does not need authentication in our server to access</li>
            <li>
              checks if a user is logged in our system; if so, the server sends back an object in this format:<br>
              data = {
                Username: '...',
                loggedIn: true
              }
            </li>
            <li>
              if a user is not logged in, the response will be like this:<br>
              data = {
                loggedIn: false
              }
            </li>
          </ul>
        </li>
        <li>
          /user/account-details (GET request)
          <ul>
            <li><b>requires authentication in our server to access</b></li>
            <li>
              if customer is logged in, the server returns information related to the customer,
              which includes the following:
              <ul>
                <li>addresses (data.addresses)</li>
                <li>payment details (data.payments)</li>
                <li>favorite items (data.favorites)</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <h2>/checkout</h2>
      <ul>
        <li>
          /checkout (POST request)
          <ul>
            <li><b>requires authentication in our server to access</b></li>
            <li>
              expects several items in the request body:
              <ul>
                <li>shipping and billing address information</li>
                <li>the customer's ID</li>
                <li>the ID of the handler fulfilling the delivery</li>
                <li>any delivery instructions specified by the customer</li>
              </ul>
            </li>
            <li>creates a new Delivery document based on the provided information</li>
          </ul>
        </li>
      </ul>
      <h2>/handler</h2>
      <ul>
        <li>
          /handler (GET request)
          <ul>
            <li>does not require authentication in our server</li>
            <li>returns an array of all the handlers registered with Chickpea</li>
          </ul>
        </li>
      </ul>
      <h2>/order-details</h2>
      <ul>
        <li>
          /order-details (POST request)
          <ul>
            <li><b>requires authentication in our server to access</b></li>
            <li>expects a Delivery ID in the request body</li>
            <li>gathers and returns detailed information associated 
              with the delivery that has the specified Delivery ID</li>
          </ul>
        </li>
      </ul>
      <h2>/search</h2>
      <ul>
        <li>
          /search/query (POST request)
          <ul>
            <li>does not require authentication in our server</li>
            <li>expects a search query in the request body</li>
            <li>
              returns an array of items if the search query exactly matches any of these:
              <ul>
                <li>Category</li>
                <li>Item Name</li>
                <li>Subcategory</li>
                <li>Special (e.g. items marked as "Vegan")</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</body>
