<!DOCTYPE html>
<head></head>

<body>
    <form action='/register/sign-up' method="POST">
        <h2>Sign Up!</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="pw">Password:</label>
        <input type="password" id="pw" name="pw"><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br>
        <input type="submit" value="Submit">
    </form>
</body>